#choose-block{
    display: flex;

    flex-direction: row;

    justify-content: flex-start;
}
.x-block{
    margin: auto;
}
.y-block{
    margin: auto;
}
.r-block{
    margin: auto;
}
.x-label{
    margin-left: 105px;
}
.y-label{
    margin-left: 100px;
}
.r-label{
    margin-left: 105px;
}
.shoot{
    background-color: #605CB1;
    border: 2px solid #91FD7E;

    margin-top: 35px;

    text-align: center;
    color: #91FD7E;
    width: 135px;
    padding: 0.5em;
    height: auto;
    border-radius: 20px;
}
.shoot:hover{
    transition: 0.5s;
    background-color: #91FD7E;
    border: 2px solid #605CB1;

    color: #605CB1;
}
.table{
    margin-top: 100px;
    white-space:nowrap
}
.table div{
    width: 18.5%;
    text-align: center;
    display:inline-block;

    justify-content: space-between;
}
.text{
    text-align: center;

}
#error{
    margin-left: 5%;
    color: #F1948A;
}
.hit{
    margin-top: 19px;
}
.miss{
    margin-top: 19px;
    color: #F1948A;
}
.item{
    margin-top: 19px;
}
#bad-login{
    color: #F1948A;
}
.go-to-last-dot{
    text-decoration: none;
    color: #91FD7E;
    border: 2px #91FD7E solid;
    border-radius: 20px;
    background-color: #605CB1;
    padding: 12px;
    width: 200px;
    margin-left: 31.5%;
}
.go-to-last-dot:hover{
    transition: 0.5s;
    border: 2px #605CB1 solid;
    color: #605CB1;
    background-color: #91FD7E;
}
.go-to-graph{
    text-decoration: none;
    padding: 17px 23px;
    border: 2px #91FD7E solid;
    border-radius: 15px;
    color: #91FD7E;
    background-color: #605CB1;
}
.go-to-graph:hover{
    border: 2px #605CB1 solid;
    color: #605CB1;
    background-color: #91FD7E;
}